@using Microsoft.AspNetCore.Identity;
@using X.PagedList;
@using X.PagedList.Mvc.Core;
@using X.PagedList.Mvc.Bootstrap4.Core;
@model IEnumerable<Suket.Models.Post>

@inject UserManager<UserAccount> userManager;
@inject SignInManager<UserAccount> signInManager;

@{
    ViewData["Title"] = "My Posts";
    var currentUser = await userManager.GetUserAsync(User);
    bool isLoggedIn = signInManager.IsSignedIn(User) && currentUser != null;
}
<head>
    <link rel="stylesheet" href="/css/PostIndex.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>

<div class="d-flex align-items-center mb-2">
    <span class="material-symbols-outlined text-primary fs-3 me-2">
        article
    </span>
    <h5 class="fw-bold mb-0">My Post</h5>
</div>
<div class="fixed-button-container d-md-none">
    <a asp-action="Create" class="fixed-button btn btn-primary">
        <i class="fas fa-plus"></i>
    </a>
</div>


<div class="row row-cols-1 row-cols-md-3 g-4 mt-1" id="postsContainer">
    @foreach (var a in Model)
    {       
        <div class="col mt-2">
            <div class="card h-100">
            <div class="card-body p-3">
            @if (a.State == State.End)
            {
                <div class="end-banner">募集終了</div>
            }
            else if (a.State == State.Cancel)
            {
                <div class="cancel-banner">中止</div>
            }

            @{
                var timeDifference = DateTimeOffset.UtcNow - a.Created;
                string timeDifferenceString;
                if (timeDifference.TotalDays >= 1)
                {
                    timeDifferenceString = $"{(int)timeDifference.TotalDays}日前";
                }
                else if (timeDifference.TotalHours >= 1)
                {
                    timeDifferenceString = $"{(int)timeDifference.TotalHours}時間前";
                }
                else if (timeDifference.TotalMinutes >= 1)
                {
                    timeDifferenceString = $"{(int)timeDifference.TotalMinutes}分前";
                }
                else
                {
                    timeDifferenceString = "たった今";
                }
            }
            <div class="d-flex flex-wrap">
                <p class="card-text post-icon f-14 mb-0 me-2 text-secondary text-truncate lh-1">
                    <span class="material-symbols-outlined text-secondary me-1 f-14">
                        calendar_month
                    </span>
                    @TimeZoneInfo.ConvertTimeFromUtc(a.Time.UtcDateTime, TimeZoneInfo.FindSystemTimeZoneById("Tokyo Standard Time")).ToString("yyyy/MM/dd HH:mm")
                </p>

                <p class="card-text post-icon f-14 text-secondary text-truncate lh-1">
                    <span class="material-symbols-outlined text-secondary me-1 f-14">
                        location_on
                    </span>
                    @Html.DisplayFor(modelItem => a.Prefecture)｜@a.Place
                </p>
            </div>
            <h5 class="card-title mb-1"><a asp-action="Details" asp-route-id="@a.PostId" class="stretched-link">@((a.Title.Length > 30) ? a.Title.Substring(0, 30) + "..." : a.Title)</a><span style="font-size:16px; color:#6c757d">・@timeDifferenceString</span></h5>
            <div class="d-flex align-items-center mb-1">
                <a asp-controller="Users" asp-action="Profile" asp-route-UserName="@a.UserAccount.UserName" class="stretched-link" style="position: relative;">
                @if (!string.IsNullOrWhiteSpace(a.UserAccount.ProfilePictureUrl))
                {
                        <img src="@a.UserAccount.ProfilePictureUrl" alt="Profile Picture" class="profile-icon" />
                }
                else
                {
                        <img src="https://mintsports-profile-img.s3.ap-northeast-1.amazonaws.com/kkrn_icon_user_3.png" alt="Profile Picture" class="profile-icon" />
                }
                </a>
                <a asp-controller="Users" asp-action="Profile" asp-route-UserName="@a.UserAccount.UserName" class="card-text profile-link stretched-link" style="position: relative;">@(a.UserAccount.NickName ?? a.UserAccount.UserName)</a>
            </div>
           
            <div class="d-flex mb-2">
                    <div class="card-text d-flex align-items-center">
                        <span class="material-symbols-outlined text-secondary me-2">
                            payments
                        </span>
                        <p class="mb-0">報酬：@a.Reward　円</p>
                    </div>

                    <p class="card-text post-icon ms-auto">
                        <span class="material-symbols-outlined text-secondary me-2 fs-5">
                            sell
                        </span>@Html.DisplayFor(modelItem => a.Genre)
                    </p>
            </div>
            <pre style="white-space:normal;" class="card-text mb-2">@((a.Message.Length > 50) ? a.Message.Substring(0, 50) + "..." : a.Message)</pre>
            <div><strong>認証コード：<span style="color:red;">@a.Certification</span></strong></div>
            
            <div class="mt-2" style="display:flex; align-items:center;">
                <p class="mb-0">応募 @(((Dictionary<int, int>)ViewData["SubscriptionCounts"])[a.PostId]) 件</p>
                <span class="material-symbols-outlined pointer ms-auto stretched-link" style="position: relative;" div data-bs-toggle="modal" data-bs-target="@($"#modal{a.PostId}")">
                    more_vert
                </span>
            </div>
            <!--<button class="subscription-button" data-post-id="@a.PostId">いいね</button>
            <span class="subscription-count">@(((Dictionary<int, int>)ViewData["SubscriptionCounts"])[a.PostId])</span>
            -->
            <!-- モーダル -->
            <div class="modal fade" id="@($"modal{a.PostId}")" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modalLabel">オプション</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            @if (isLoggedIn && ((currentUser != null) && (a.UserAccountId == currentUser.Id)))
                            {
                                var adoptions = ((Dictionary<int, bool>)ViewData["UserAdoptionPosts"]);
                                var adoptionExists = adoptions.ContainsKey(a.PostId) && adoptions[a.PostId];


                                <a asp-action="Subscriber" asp-route-id="@a.PostId">
                                    <div>
                                        <span class="material-symbols-outlined text-secondary">
                                            group
                                        </span>
                                        <p>採用する・応募者一覧</p>
                                    </div>
                                </a>
                                @if (a.State == State.Recruiting)
                                {
                                    <br />
                                    <a asp-action="Edit" asp-route-id="@a.PostId">
                                        <div>
                                            <span class="material-symbols-outlined text-secondary">
                                                edit
                                            </span>
                                            <p>Edit</p>
                                        </div>
                                    </a>
                                }
                                @if (!adoptionExists && a.State == State.Recruiting)
                                {
                                    <br />
                                    <a asp-action="Delete" asp-route-id="@a.PostId">
                                        <div>
                                            <span class="material-symbols-outlined text-secondary">
                                                delete
                                            </span>
                                            <p>削除</p>
                                        </div>
                                    </a>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
            <!--
            @if (isLoggedIn && ((currentUser != null) && (a.UserAccountId == currentUser.Id)))
            {
                var adoptions = ((Dictionary<int, bool>)ViewData["UserAdoptionPosts"]);
                var adoptionExists = adoptions.ContainsKey(a.PostId) && adoptions[a.PostId];

                    <p>
                        <a asp-action="Subscriber" asp-route-id="@a.PostId">応募者一覧</a>
                    @if (a.State == State.Recruiting)
                    {
                                <span> | </span>
                                <a asp-action="Edit" asp-route-id="@a.PostId">Edit</a>
                    }
                    @if (!adoptionExists && a.State == State.Recruiting)
                    {
                                <span> | </span>
                                <a asp-action="Delete" asp-route-id="@a.PostId">削除</a>
                    }
                    </p>
            }
            -->
            </div>
        </div>
        </div>
        
    }
</div>
<button id="loadMoreButton" class="btn btn-outline-dark w-100 rounded-pill mt-2">もっと見る</button>
@{
    var errorMessage = ViewData["ErrorMessage"] as string;
}

@if (!string.IsNullOrEmpty(errorMessage))
{
    <div class="alert alert-danger">
        @errorMessage
    </div>
}
<!--div style textalign-->


@section Scripts {
    <script>
        $(function () {
            // Initialize button colors based on whether the user has liked each post
            $('.subscription-button').each(function () {
                var button = $(this);
                var postId = button.data('post-id');
                var isLikedByUser = @Html.Raw(Json.Serialize((Dictionary<int, bool>)ViewData["UserSubscriptionPosts"]));
                var isAdoptedByUser = @Html.Raw(Json.Serialize((Dictionary<int, bool>)ViewData["UserAdoptionPosts"]));

                // Check if the user has liked the post
                if (isLikedByUser[postId]) {
                    // Check if the user is the adopted user for this post
                    if (isAdoptedByUser[postId]) {
                        button.addClass('liked-adopted');
                        button.prop('disabled', true);
                    } else {
                        button.addClass('liked');
                    }
                }
            });

            // Handle button clicks
            $('.subscription-button').click(function () {
                var button = $(this);
                var countSpan = button.next('.subscription-count');
                var postId = button.data('post-id');

                // Get the current like count
                var count = parseInt(countSpan.text());

                $.ajax({
                    url: '/Posts/ToggleSubscription',
                    method: 'POST',
                    data: { id: postId },
                    success: function (data) {
                        // Check if the button has the 'liked' class
                        if (button.hasClass('liked')) {
                            // If the button has the 'liked' class, decrement the count and remove the class
                            if (count > 0) {
                                countSpan.text(count - 1);
                            }
                            button.removeClass('liked');
                        } else {
                            // If the button does not have the 'liked' class, increment the count and add the class
                            countSpan.text(count + 1);
                            button.addClass('liked');
                        }
                    }
                });
            });
            let currentPage = 0;
            const pageSize = 2;
            $("#loadMoreButton").click(function () {
                currentPage++;
                $.get("/Posts/LoadMorePosts", { currentPage, pageSize }, function (data) {
                    if (data.trim().length === 0) {
                        // データがない場合
                        $("#loadMoreButton").hide();
                    } else {
                        // 投稿をページに追加
                        $("#postsContainer").append(data);
                    }
                });
            });

        });
    </script>
}
