@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}
<head>
    <link rel="stylesheet" href="/css/ManageIndex.css" />
</head>
<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <form id="profile-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <input asp-for="Input.UserName" class="form-control" />
                <label asp-for="Input.UserName" class="form-label"></label>
                <span asp-validation-for="Input.UserName" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.NickName" class="form-control" aria-required="true" />
                <label asp-for="Input.NickName"></label>
                <span asp-validation-for="Input.NickName" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.PhoneNumber" class="form-control" />
                <label asp-for="Input.PhoneNumber" class="form-label"></label>
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.Birthday" class="form-control" type="date" value="@Model.Input.Birthday.ToString("yyyy-MM-dd")" />
                <label asp-for="Input.Birthday" class="control-label"></label>
                <span asp-validation-for="Input.Birthday" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group radio-group">
                <label asp-for="Input.SelectSex" class="control-label"></label>
                <div class="form-check">
                    <input class="form-check-input" name="Input.SelectSex" value="1" checked="@(Model.Input.SelectSex == Suket.Models.Sex.man)" type="radio" />
                    <label class="form-check-label" for="man">男性</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" name="Input.SelectSex" value="2" checked="@(Model.Input.SelectSex == Suket.Models.Sex.woman)" type="radio" />
                    <label class="form-check-label" for="woman">女性</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" name="Input.SelectSex" value="3" checked="@(Model.Input.SelectSex == Suket.Models.Sex.Q)" type="radio" />
                    <label class="form-check-label" for="Q">その他</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" name="Input.SelectSex" value="0" checked="@(Model.Input.SelectSex == Suket.Models.Sex.sexnull)" type="radio" />
                    <label class="form-check-label" for="sexnull">回答なし</label>
                </div>
            </div>
            <br />
            <label asp-for="Input.Profile" class="form-label"></label>
            <textarea asp-for="Input.Profile" class="form-control" rows="5"></textarea>
            <span asp-validation-for="Input.Profile" class="text-danger"></span>
            
            <br />
            <button id="update-profile-button" type="submit" class="w-100 btn btn-lg btn-primary">Save</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
